# npm repository
#registry=https://registry.npmjs.org/

# taobao repository
registry=https://registry.npm.taobao.org/

# github isxcode repository
#@isxcode:registry=https://npm.pkg.github.com
#//npm.pkg.github.com/:_authToken=$TOKEN