@import '../../style/index';

$modal-prefix-cls: '#{$keycap-prefix}-modal';

.keycap-modal-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background-color: rgba(0, 0, 0, 0.5);
  background: rgba(0,0,0,0.2);
  backdrop-filter: blur(2px);
  z-index: 999;

  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}

.keycap-modal-cross-btn {
  float: right;
  font-size: 20px;
}

.keycap-modal-title-span {
  line-height: 40px;
  width: 100px;
  margin-left: 30px;
  font-size: 15px;
}

.keycap-modal-title-div {
  width: 100%;
  height: 40px;
  border-bottom: lightgrey solid 1px;
}

.#{$modal-prefix-cls} {
  margin: 8% auto;
  background: white;
  width: 400px;
  height: 450px;
}