@import '../style/index.scss';

$btn-prefix-cls: '#{$keycap-prefix}-btn';

.#{$btn-prefix-cls} {

  padding: 10px 20px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  border-radius: 3px;
  outline: none;

  &-default {
    &:hover {
      color: white;
      background: $theme-deep-color;
    }
    border: 1px solid black;
    color: black;
    background: white;
  }

  &-primary {
    &:hover {
      background: $theme-deep-color;
    }
    border: none;
    color: white;
    background: $theme-color;
  }

  &-danger {
    &:hover {
      background: white;
    }
    border: 1px solid red;
    color: red;
    background: white;
  }

  &-ghost {

  }

  &-dashed {

  }
}