//.spring-oxygen-home
//  border: aqua solid 1px
//  height: 100%
//  width: 100%
//
//.directory
//  border: salmon solid 1px
//  width: 20%
//  height: 100%
//  display: inline-block
//
//.content
//  border: sienna solid 1px
//  width: 70%
//  height: 100%
//  display: inline-block

#components-layout-demo-top-side-2 .logo
  width: 120px
  height: 31px
  background: rgba(255, 255, 255, 0.2)
  margin: 16px 28px 16px 0
  float: left

.site-layout-background
  background: #fff

