name: build

on:
  push:
    branches:
      - main

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        language:
          - javascript

    steps:

    - name: checkout repository
      uses: actions/checkout@v2.3.2
      with:
        ref: main

    - name: cache npm
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - name: inititalize codeql
      uses: github/codeql-action/init@v1
      with:
        languages: ${{ matrix.language }}
        config-file: ./.github/codeql/codeql-config.yml

    - name: npm build dist
      uses: actions/setup-node@v2.1.1
      with:
        node-version: 12
    - run: npm ci
    - run: npm run build
    - run: npm test

    - name: perform codeql analysis
      uses: github/codeql-action/analyze@v1

    - name: coveralls analysis
      uses: coverallsapp/github-action@v1.1.2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ./coverage/lcov.info